@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

:root {
    --primary-color: #431C21;
    --white-color: #ffffff;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body .full-width {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    flex: 1 1 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.section {
    min-height: 100vh;
}

.main-bg {
    background-image: url('../img/Background.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-width: 120rem;
    margin: 0 auto;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
    padding: 2rem;
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    color: var(--primary-color);
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 65px;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h2 {
    font-size: 8rem;
    margin-bottom: 0;
}

.home-content p {
    font-size: 2rem;
    max-width: 65rem;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    min-height: 100vh;
}

.intro-text-content {
    padding-bottom: 12rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    text-align: center;
}

.intro-text-content p {
    font-size: 2rem;
    text-align: justify;
}

.gallery {
    display: flex;
    height: 95vh;
    width: 10rem;
    margin: 0;
    position: relative;
    padding-left: 10rem;
}

.gallery li {
    list-style: none;
    position: absolute;
}

.gallery img {
    margin: auto;
    height: 95vh;
    width: auto;
    padding-bottom: 9.5rem;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.gallery input {
    display: none;
}

.gallery label {
    background-color: #000;
    bottom: 10rem;
    cursor: pointer;
    display: block;
    height: 1rem;
    position: absolute;
    width: 1rem;
    z-index: 10;
}

.gallery li:nth-child(1) label {
    left: 1rem;
}

.gallery li:nth-child(2) label {
    left: 4rem;
}

.gallery li:nth-child(3) label {
    left: 7rem;
}

.gallery li:nth-child(4) label {
    left: 10rem;
}

.gallery li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.experience-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.experience-content h3 {
    font-size: 4rem;
    padding-top: 3rem;
}

.experience-content h4 {
    font-size: 2rem;
    padding-top: 1rem;
}

.experience-content p {
    font-size: 2rem;
}

.studies-content {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

.studies-main-heading {
    margin-bottom: 2rem;
}

.studies-content ol {
    list-style: none;
    display: list-item;
    counter-reset: list-counter;
}

.studies-content li {
    margin: 4rem;
}

.studies-content h3 {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.studies-content h3::before {
    counter-increment: list-counter;
    content: counter(list-counter);
    position: absolute;
    font-size: 9rem;
    font-style: italic;
    top: -4rem;
    left: -4rem;
    transform: rotate(5deg);
}

.studies-content h4 {
    font-size: 3rem;
}

.studies-content p {
    font-size: 2rem;
}

.skills-content {
    display: flex;
    flex-direction: column;
}

.skills-content h3 {
    margin: 1rem;
}

.skills-content p {
    font-size: 3rem;
    padding: 1rem;
}

.skills-content i {
    font-size: 6rem;
    padding: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.certificates-content {
    display: flex;
    flex-direction: column;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    padding: 3rem;
}

.grid p {
    font-size: 2.5rem;
    text-align: center;
}
.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-content h2 {
    margin: 0;
    margin-bottom: 2rem;
}

.contact-content h3 {
    padding: 3rem;
    font-size: 5rem;
}

.contact-content a {
    display: flex;
    color: var(--white-color);
}

.contact-content h3:hover {
    animation: bounce 1s;
}

.contact-content img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 1050px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
        padding: 0;
    }

    .gallery img {
        width: 100%;
    }

    .studies-content, .skills-content, .certificates-content, .contact-content { 
        align-items: center;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 21;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.8rem;
    }

    h5 {
        font-size: 2.6rem;
    }

    h6 {
        font-size: 2.4rem;
    }
}